html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "SegoeUI";
  src: url(./fonts/SegoeUI.ttf) format("truetype");
}

@font-face {
  font-family: "SegoeUIBold";
  src: url("./fonts/Segoe UI Bold.ttf") format("truetype");
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
  padding: 1px 5px;
}

figure {
    margin: 40px 0;
    text-align: center;
}

figcaption {
    font-size: 15px;
    font-style: italic;
    color: #777;
    margin: 5px 0;
}
